/* @/components/Contact/Contact.module.css */

.component {
  @apply relative;
  @apply w-full h-max;
  @apply bg-zinc-50 text-zinc-950;
  @apply font-serif text-base;
}

.box {
  @apply relative w-full flex flex-col lg:flex-row;
}

.head {
  @apply relative overflow-hidden;
  @apply w-full px-6 pt-8 pb-4;
  @apply lg:w-1/2 sm:px-12 sm:pt-32 sm:pb-16;
  @apply flex flex-col items-center justify-center;
  @apply bg-zinc-50 text-zinc-950;
}

.head .image {
  @apply absolute bottom-0 right-0;
  @apply w-[175%] h-full;
}

.head .image img {
  @apply w-auto h-full;
  @apply rounded-3xl opacity-15;
  @apply object-contain object-right-bottom;
}

.head .title {
  @apply w-full max-w-xl mb-8;
  @apply font-sans text-3xl sm:text-5xl;
}

.head .text {
  @apply w-full max-w-3xl mx-auto mb-6;
  @apply font-sans text-lg md:text-xl;
}

.head .list {
  @apply relative overflow-hidden;
  @apply w-full sm:pt-8 mb-12;
}

.head .list ul {
  @apply flex flex-col gap-8;
}

.head .list li {
  @apply inline-flex gap-6 items-center;
  @apply text-base md:text-xl sm:text-3xl font-sans font-bold;
}

.head .list .icon {
  @apply w-10 h-10;
  @apply sm:w-16 sm:h-16;
  @apply flex items-center justify-center;
  @apply bg-amber-500 rounded-full;
}

.head .list .icon svg {
  @apply w-4 h-4;
  @apply sm:w-7 sm:h-7;
  @apply text-amber-50;
}

.head .buttons {
  @apply relative overflow-hidden;
  @apply w-full;
  @apply flex items-center justify-start;
}

.body {
  @apply z-0 relative;
  @apply flex-1;
  @apply bg-zinc-900;
}

.body .image {
  @apply z-0 relative;
  @apply w-full h-full;
}

.body .image img {
  @apply sm:absolute top-0 left-0;
  @apply w-auto h-full;
  @apply object-cover object-center;
}
